$cd-txt: rgb(240, 234, 234);
.button__menu {
  cursor: pointer;
  background-color: #262626;
  color: hue($color: #f8f4f4);
  text-decoration: none;
}
.menu__burguer {
  width: 35px;
  height: 5px;
  background-color: #f5f1f1;
  margin: 6px 0;
}
#wrap {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.6;
}

// #wrap {
//   transform: translate3d(-335px, 0, 0);
// }
// #menu {
//   display: none;
// }
// #menu:checked ~ #wrap {
//   transform: translate3d(0, 0, 0);
// }
.nav {
  border: solid white;
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto;
  & li {
    margin-top: 1rem;
  }
}
.navOnglet {
  a {
    color: $cd-txt;
  }
  & :active {
    background: linear-gradient(to top, rgb(240, 243, 240) 4px, transparent 0);
  }
}
